.idea/
.serverless/
artifacts/
node_modules/
.DS_Store
yarn-error.log
npm-debug.log
dist/
example/repo/yarn.lock
example/repo/node_modules/
example/repo/output/

# client
client/bin

serverless_chromium.zip
headless-chromium
release-archive

.terraform/
.terraform.lock.hcl

.yarn/

output
