# IDE
.idea/
.vscode/

# OS
.DS_Store

# Build Artifacts
lib/
dist/
bundle/
artifacts/
output

# Dependency Management
node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/sdks
.pnp.*

# Logs / Transient Files
.serverless/
yarn-error.log
npm-debug.log

example/repo/yarn.lock
example/repo/node_modules/
example/repo/output/

# client
client/bin

# service
.cache
serverless_chromium.zip
headless-chromium
release-archive

.terraform/
.terraform.lock.hcl
