version: 2.1

website_docker_defaults: &website_docker_defaults
  docker:
    - image: circleci/node:8.11.3

docker_defaults: &docker_defaults
  docker:
    - image: circleci/node:8.10.0

commands:
  prep_website_env:
    description: Prepapres environment with cache
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker
      - restore_cache:
          name: Restore node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
  save_website_cache:
    description: Saves environment cache
    steps:
      - save_cache:
          name: Save node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/

jobs:
  lint:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - checkout
      - run: make -C client install
      - run: make -C client lint
      - store_test_results:
          path: client/artifacts/reports
      - run: make -C service install
      - run: make -C service lint
      - store_test_results:
          path: service/artifacts/reports
  build:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - checkout
      - run: make -C client install
      - run: make -C service install
      - run: make -C client package
      - run: make -C service package
      - run: make install
      - run: make create-release-package
      - run: make deploy-release-dry
      - run: make -C client build-docker
      - run:
          name: "Cache Docker Image"
          command: |
            mkdir -p docker-cache
            docker save -o docker-cache/sanity-docker.tar tophat/sanity-runner:latest
      - persist_to_workspace:
          root: ./
          paths:
            - release-archive/
  docker-deploy:
    docker:
      - image: docker:stable
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: ~/workspace
      - run:
          name: "Publish Release on Docker"
          command: |
            VERSION=`cat ~/workspace/client/version.txt`
            docker load < ~/workspace/docker-cache/sanity-docker.tar
            docker tag tophat/sanity-runner:latest tophat/sanity-runner:${VERSION}
            echo ${DOCKER_PASSWORD} | docker login --username ${DOCKER_USERNAME} --password-stdin
            docker push tophat/sanity-runner:${VERSION}
  deploy:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run: make install
      - run: make deploy-release
  website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - run: yarn install
      - save_website_cache
      - run: yarn build
      - persist_to_workspace:
          root: ./
          paths:
            - build/
  deploy_website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "30:d8:05:7f:03:23:c8:0e:85:d2:18:85:d6:8c:57:13"
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-sanity-runner@users.noreply.github.com"
            git config --global user.name "CircleCI Sanity Runner"
            CUSTOM_COMMIT_MESSAGE="[skip ci]" USE_SSH=true yarn publish-gh-pages

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - build
      - docker-deploy:
          requires:
            - build     
          filters:
            branches:
              only: master 
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - website
      - deploy_website:
          requires:
            - website
          filters:
            branches:
              only:
                - master

experimental:
  notify:
    branches:
      only:
        - master

